<section class="my-5">
    <div class="container">
        <div class="row g-3">
            @for (product of products; track product.id) {
            <div class="col-md-4">
                <div class="card bordr border-secondary border-3 rounded-2">
                    <img [src]="product.imgSrc" class="card-img-top w-100" [alt]="product.title">
                    <div class="card-body">
                        <h3 class="card-title">{{product.name}}</h3>
                        <p class="card-text lead">{{product.title}}</p>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <span>{{product.price | currency:"USD"}}</span>
                            <span class="badge bg-primary">{{product.category | uppercase}}</span>
                        </div>
                        @if(product.onSale){
                            <span class="sale badge bg-success rounded-3 px-3 py-3">{{"Sale" |lowercase}}</span>
                        }@else {
                            <span class="sale badge bg-danger rounded-3 px-3 py-3">{{"No Sale" | lowercase}}</span>
                        }
                    </div>
                </div>
            </div>
            }@empty {
                <h1 class="text-danger text-center">No Products Avilable</h1>
            }
        </div>
    </div>
</section>