<ul class="list-unstyled mx-auto d-flex justify-content-center align-items-center bg-info w-75 m-3 p-3">
    <li class="mx-2 fw-semibold fs-4 cursor-pointer" routerLink="demo1" routerLinkActive="bg-secondary rounded-pill p-2">Demo 1</li>
    <li class="mx-2 fw-semibold fs-4 cursor-pointer" routerLink="demo2" routerLinkActive="bg-secondary rounded-pill p-2">Demo 2</li>
    <li class="mx-2 fw-semibold fs-4 cursor-pointer" routerLink="demo3" routerLinkActive="bg-secondary rounded-pill p-2">Demo 3</li>
</ul>
<router-outlet></router-outlet>